/* .checkoutHeadline{
    border-bottom: 2px solid #ec640991;
    width:fit-content
} */
.orderBtn{
    all:unset;
    width: 40%;
    padding: 0.3em;
    text-align: center;
    border: 1px solid #6b2901b7;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 1em;
    background-color: #ec640991;
    color:white;
  }
.cantOrder{
  padding-top: 1em;
  color:rgb(105, 52, 52);;
  font-weight: bold;
}
  .orderBtn:hover{
    background-color: #6b2901b7;
  }
  .checkoutCard{
    width: 30%;
  }
.checkoutHeadline{
  color:rgb(105, 52, 52);
}
form h5{
  padding-bottom: 0.5em;
  color:rgb(105, 52, 52);
}
.ordered{
  border : 3px solid #ec640991;
  width: 70%;
  border-radius: 20px;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  animation: bump 300ms ease-out;
  margin-top: 1em;
} 


  @media only screen and (max-width: 1000px) {
    .checkoutCard{
      width: 80%;
    }
  } 