
nav{
 position: fixed;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #ec6409b0;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
 /* height: 14vh; */
 /* height: 14%; */
 height: 5rem;

 width: 100%;
 z-index: 10;
}

nav h1{
    color:white;
    text-shadow:
    1px  1px 2px #6b2901b7,
    1px -1px 2px #6b2901b7,
   -1px  1px 2px #6b2901b7,
   -1px -1px 2px #6b2901b7;
   font-size: 2.2rem;
   margin-left: 1rem;
}

/*
 @media only screen and (max-width: 1250px) {
    nav {
        height: 17%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    nav h1{
        font-size: 2rem;
    }
  }
  @media only screen and (max-width: 425px) {
    nav {
        height: 11%;
    }
    nav h1{
        font-size: 1.8rem;
    }
  }
  @media only screen and (max-width: 414px) {
    nav {
        height: 11%;
    }
    nav h1{
        font-size: 1.4rem;
    }
  }
  @media only screen and (max-width: 377px) {
    nav {
        height: 12.5%;
    }
    nav h1{
        font-size: 1.4rem;
    }
  }
  @media only screen and (max-width: 376px) {
    nav {
        height: 10%;
    }
    nav h1{
        font-size: 1.4rem;
    }
  } */

  @media only screen and (max-width: 768px) {
    nav h1{
        font-size: 2rem;
    }
  }
  @media only screen and (max-width: 434px) {
    nav h1{
        font-size: 1.4rem;
    }
  }