.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 0.5rem; */
  }
.form{
    display: flex;
    flex-direction: column;
}
  .input label {
    font-weight: bold;
    color: rgb(105, 52, 52);
    padding: 1rem;
  }
  
  .input input {
    width: 3rem;
    height: 1.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    text-align: center;
    /* padding-left: 0.5rem; */
  }
  .btnContainer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .addBtn{
      width:5.5rem;
      height: 2rem;
      cursor: pointer;
      background-color: #ec640991;
      border: 1px solid #8a2b064b;
      color: white;
      /* padding: 0.25rem 2rem; */
      border-radius: 20px;
      font-weight: bold;
  }
  .addBtn:hover,
  .addBtn:active {
    background-color: #6b2901b7;
  }